# dependencies
/node_modules

*.swp
.vscode
.email_info
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NPM lock file, just supporting yarn.lock
package-lock.json

# Debug and testing files
create_local_db.sql
schema.sql
